<div class="container col-6 border rounded mt-5 pb-2">
    <h1 class="text-center mt-1">Добре дојдовте на ПрваПомош++</h1>
    <hr/>
    <div class="row">
        <div class="col-6">
            <h4 style="text-align: justify; text-justify: inter-word;">Креирајте свој профил и продлабочете го вашето знаење поврзано со давање на прва помош!</h4>
        </div>
        <div class="col-6">
            <a id="toLogin" class="btn btn-danger btn-lg btn-block col-10 offset-1 mb-2" href="/login" sec:authorize="!isAuthenticated()">Најава</a>
            <a id="toRegister" class="btn btn-danger btn-lg btn-block col-10 offset-1 mb-2" href="/register" sec:authorize="!isAuthenticated()">Регистрација</a>

            <a id="toMyProfile" class="btn btn-danger btn-lg btn-block col-10 offset-1 mb-2" href="/myprofile" sec:authorize="isAuthenticated()">Мој Профил</a>
            <a id="toLogout" class="btn btn-danger btn-lg btn-block col-10 offset-1 mb-2" href="/logout" sec:authorize="isAuthenticated()">Одјави се</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-6">
            <img class="red_cross_image" th:src="@{'images/red_cross.png'}" style=width:100%;>
        </div>
        <div class="col-6">
            <img class="red_cross_image" src="/images/red_cross.png" style=width:100%;>
        </div>
    </div>

</div>